.button {
  border-radius: 18px;
}

.button::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  top: var(--y);
  left: var(--x);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.5s, top 0, left 0;
  background: radial-gradient(var(--color), transparent, transparent);
}

.button::after {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: black;
  opacity: 0.7;
}

.button:hover::before {
  opacity: 1;
}
